body{
    padding-bottom:10000px;
}

.flexbox{
    display:flex;
    flex-direction:row;
    height:50px;
    margin-bottom: 50px;
}

.pink{
    background-color:lightpink;
    width:100px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.lightblue{
    background-color:lightblue;
    width:200px;
}

.item1{
    background-color:black;
    color:white;
}


.flexbox2{
    display:flex;
    flex-direction:row;
    height:50px;
    margin-bottom: 50px;
    margin-bottom:50px;
}

.pink1{
    background-color:lightpink;
    width:100px;
}

.lightblue1{
    background-color:lightblue;
    width:200px;
}

.row2{
    background-color:black;
    color:white;
}

.row{
    display:flex;
    justify-content: space-between;
}

.container{
    width:408px;
    padding:10px 15px;
    box-shadow:0px 0px 5px rgba(0,0,0,0.25);
    border-radius:4px;
    margin-bottom:200px;
}

.inbox{
    color:grey;
    font-size:12px;
    margin-bottom:20px;
}

.img{
    width:50px;
    height:50px;
    object-fit: cover;
    border-radius:25px;
    margin:15px 10px 15px 0px;
}

.flexbox3{
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.content{
    flex:1;
}

.header{
    display:flex;
    justify-content: space-between;
    align-items:center;
    margin-bottom:3px;
}

.name,
.subject{
    font-weight: bold;
    font-size:17px;
    font-family:arial;
}

.txt{
    color:grey;
    font-family:arial;
}

.time{
    color:grey;
    font-size:12px;
    font-family:arial;
    margin-right:12px;
}

.container1{
    width:400px;
}

.flexbox4{
    display:flex;
    justify-content: space-between;
    align-items:top;
}

.supersimple{
    margin-bottom:5px;
    font-family:arial;
    font-weight:bold;
}

.Dev{
    color:rgb(113, 113, 113);
    font-weight:normal;
}

.txt1{
    font-family:arial;
    margin-top:0px;
    margin-bottom:15px;
}

.flexbox5{
    display:flex;
    border:1px solid lightgrey;
    height:80px;
    border-radius:20px;
}

.grey{
    background-color: lightgrey;
    flex:1;
    border-radius: 20px 0px 0px 20px;;
}

.youtube{
    color:rgb(113, 113, 113);
}

.mini-container2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin:0px 15px;
}

.backend{
    width:200px;
}

